.App {
  text-align: center;
  background-color: #282c34;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  margin: 25px 50px 75px 100px;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}

.App-link {
  color: #09d3ac;
}

.App-image {
  max-width: 60%;
  height: auto;
}

.App-icon {
  width: 25px;
  min-height: 25px;
  text-decoration-line: none;
  margin: 1%;
}
